Source: ros-lyrical-rc-reason-clients
Section: misc
Priority: optional
Maintainer: ruess <felix.ruess@roboception.de>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-requests, ros-lyrical-ament-copyright <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-geometry-msgs, ros-lyrical-rc-reason-msgs, ros-lyrical-rclpy, ros-lyrical-ros2pkg, ros-lyrical-tf2-msgs, ros-lyrical-visualization-msgs, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/rc_reason_clients/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rc-reason-clients
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-requests, ros-lyrical-geometry-msgs, ros-lyrical-rc-reason-msgs, ros-lyrical-rclpy, ros-lyrical-ros2pkg, ros-lyrical-tf2-msgs, ros-lyrical-visualization-msgs, ros-lyrical-ros-workspace
Description: Clients for interfacing with Roboception reason modules on rc_visard and rc_cube.
